.element__card_selected {
  background-image: linear-gradient(135deg, transparent 30px, #d91667 0);
}

.element__card_selected:hover {
  background-image: linear-gradient(135deg, transparent 30px, #e62e7a 0);
}

.element__card_selected:hover .element__marker_selected {
  background-color: #e62e7a;
}
