.element__card_disabled {
  background-image: linear-gradient(135deg, transparent 30px, #b3b3b3 0);
  position: relative;
  cursor: default;
}

.element__card_disabled:hover {
  background-image: linear-gradient(135deg, transparent 30px, #b3b3b3 0);
}

.element__card_disabled:hover .element__marker_disabled {
  background-color: #b3b3b3;
}



.element__card_disabled::before {
  background-image: linear-gradient(135deg, transparent 28px, #f2f2f2 0);
}

.element__card_disabled:after {
  content: " ";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(135deg, transparent 30px, #f2f2f2 0);
  opacity: 0.6;
}
